@-webkit-keyframes opa-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes opa-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body
{
	font-family: oswald, helvetica, arial, sans-serif;
	background-size: cover;
	background-attachment:fixed;
	background-color: #339966;
	height: 400vh;
}

#intro_container
{
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#textfirst
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#paraone
{
	font-size: 25px;
	max-width: 40vw;
  margin: auto;
	/*margin-left: 15vw;*/
	margin-top: 40px;
	/*text-align: justify;*/
	color: white;
}
#notif
{
  max-width: 30vw;
  margin: auto;	
}

#iphone_first
{
	height: 500px;
	width: auto;	
	animation:opa-in 3s;
	position: -webkit-sticky;
  	position: sticky;
  	top: 100px;
}
#iphone_two
{
	display: block;	
	height: 500px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;	
	animation:opa-in 3s;
  	top: 100px;
}
	/*position: absolute;*/
	/*top:100vh;*/

}
.kickstarter_announce
{
    text-align: center;
    margin-bottom: 40vh;
}

.subtitle
{
	position: relative;
	margin:auto;
}

.kickstarter_announce p
{
    position: relative;
    margin-top: -30px;
    padding-top: -30px;
}

/***** header menu *****/

header
{
	position: fixed;
  left: 0;
	width: 100vw;
	z-index: 8;
	height:auto;
}

header .menu {
	background:rgba(255,255,255,.2);
}

header .logo {
	color:rgba(0,0,0,.8);
	float:left;
	font-size:30px;
	line-height:70px;
}

header nav {
	float:right;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	color:white;
	text-decoration: none;
	display: block;
	font-size:18px;
	padding:0 20px;
	line-height:80px;
	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
	-ms-user-select: none;
   	user-select: none;
}

header nav ul li:hover {
	background:rgba(148,211,141,.2);
}

header nav ul li a:hover
{
	color:#fff;
}

header nav ul li #kick:hover
{
	color: yellow;
}

.logo img
{
	max-width: 100px;
	padding-top: 25px;
}

.menu_container {
	width:90%;
	max-width:1000px;
	margin:auto;
}

.appear {
  background-color: #2b7f55;
}



.animated_logo_container
{
	max-width: 30%;
	height: auto;
	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
	-ms-user-select: none;
   	user-select: none;
   	z-index: 3;
		position: relative;
		margin: auto;
		margin-bottom: 7%;
	position: relative;
	margin: auto;
	margin-bottom: 20vh;


}

#animated_logo_dryp{
	width: 100%;
	position: absolute;
	top: 0;
	left : 0;
}

.animated_logo_background{
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left : 0;
}

@keyframes appear {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}


/**** fisrt plants animation *****/

.animated_plants{
  position: relative;
  width: 100vw;
  height: 100vh;
	position: fixed;
}

.leaves3{
  width : 10%;
  top: 40%;
  position: absolute;
  animation-name: example1;
  animation-duration: 2.5s;
  transform: rotate(90deg);
  animation-fill-mode: forwards;
}

.leaves{
  width : 10%;
  top: 8%;
  position: absolute;
  animation-name: example1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.leaves2{
  width : 5%;
  top: 70%;
  position: absolute;
  animation-name: example1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes example1 {
    0%   {left:-20%; opacity: 0  ;}
    100% {left: -2%; opacity: 1;}
}


.branch{
  width : 10%;
  top : 50%;
  position: absolute;
  animation-name: example2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


@keyframes example2 {
    0%   {right:-20%; opacity: 0;}
    100% {right: 0; opacity: 1;}
}

.branch2{
  width : 10%;
  top : 20%;
  position: absolute;
  animation-name: example2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


.texto
{
	color:#fff;
	position:relative;
	padding:250px 0;
	text-align: center;
	font-weight: 400;
	height: 15vh;
	padding-bottom: 70vh;
	z-index: 1;
}
h2
{
	text-align: center;
	color: white;
}
.texto p a
{
	text-decoration: none;
	color: white;
	z-index: 98;
}
.texto p a:hover
{
	color: yellow;
	z-index: 98;
}

.texto h2, .texto p
{
	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
	-ms-user-select: none;
   	user-select: none;
	margin-top: 5vh;
	display:inline-block;
	padding:10px 20px;
}

.texto h2 {
	font-size:40px;
	letter-spacing: 2.5px;
	font-weight: normal;
}

.texto p {
	font-size:20px;
	letter-spacing: 2.5px;
}


.kickstarter_announce
{
    text-align: center;
    margin-bottom: 40vh;
}

.kickstarter_announce p
{
    position: relative;
    margin-top: -30px;
    padding-top: -30px;
}

#logokick
{
    position: relative;
    max-width: 30px;
}

.kickstarter_announce a
{
    margin-top: 30px;
}

.parallax-window{
  speed : 0.5;
}
